html {
    font-size: 20px;
}

h1 , h2 , p{
    text-align: center;
}
h1 {
    
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 1.2em;
    text-shadow: 2px 3px 1px bisque;
    border-bottom: solid 3px rgb(115, 115, 114);
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
}


.blue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203);
}

#basic > p{
    font-weight: bold;
}